.lang{
    width: 30px;
}

.movie {

  width: 340px;
  height: 500px;
  border: 2px solid black;
  background: grey;

  margin: 20px 10px;
}

.img-wrapper {

  position: absolute;

  width: 340px;
  height: 500px;

  z-index: 100;
}

.info-wrapper {

  position: absolute;

  width: 340px;
  height: 500px;

  color: white;

  z-index: 50;

  background: grey;
}

img.poster {

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.movie:hover .img-wrapper {

  z-index: 10;
}
